name: CodeScene Delta Analysis

on:
  push:
    branches:
      - "**"     # Ejecuta en TODOS los commits de TODAS las ramas

jobs:
  codescene:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0   # CodeScene necesita historial completo

      - name: Install CodeScene CLI
        run: |
            curl -L "https://codescene.io/codescene-cli/latest/linux-amd64/codescene-cli" -o codescene-cli
            chmod +x codescene-cli

      - name: Run CodeScene Delta Analysis
        env:
          CODESCENE_USER: ${{ secrets.CODESCENE_USER }}
          CODESCENE_TOKEN: ${{ secrets.CODESCENE_TOKEN }}
        run: |
          ./codescene-cli/codescene-cli \
            --user "$CODESCENE_USER" \
            --password "$CODESCENE_TOKEN" \
            delta \
            --repository-path "." \
            --project-id YOUR_PROJECT_ID \
            --from HEAD~1 \
            --to HEAD
